body {
    display: block;
}

header {
    width: 100%;
    text-align: center;
}

header h1 {
	font-weight: bold;
}

header h2 {
	
}

article {
	overflow: hidden;
	width: 1280px;
	margin: auto;
}

article img {
	position: relative;
	display: block;
	width: 1280px;
}

article img + img {
	margin-top: -600px;
}

article img:hover {
	z-index: 9999;
}